body {
  font-family: Modernist, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  @apply text-gray;
  background-color: #f6f6f8;
  @apply antialiased;
}

main {
  min-height: 110vh;
}
