<footer class="text-white">
  <div class="main-footer pt-8">
    <div class="container-lg flex justify-between items-center pb-16">
      <nav>
        <ul class="flex items-center space-x-6">
          <li>
            <a aria-label="IVA" href="/">
              <img
                alt="IVA"
                class="w-12"
                src="/images/iva_logo_white.svg"
              >
            </a>
          </li>
          <li>
            <a href="#">Product</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
          <li>
            <a href="#">Sign up</a>
          </li>
        </ul>
      </nav>

      <ul class="flex">
        <li class="pr-4">
          <a href="#">fb</a>
        </li>
        <li class="pr-4">
          <a href="#">in</a>
        </li>
        <li class="pr-4">
          <a href="#">tw</a>
        </li>
      </ul>
    </div>

    <div class="container-lg flex pb-6 justify-between">
      <form class="flex items-end w-1/2">
        <div class="flex flex-col">
          <label for="newsletter" class="pb-2">Newsletter</label>
          <input
            id="newsletter"
            class="input bg-gray-light py-2"
            name="newsletter"
            placeholder="Email"
            type="text"
          >
        </div>
        <button
          class="btn btn-dark py-2 ml-4"
          type="submit">Sign up
        </button>
      </form>
      <div class="w-1/3">
        <p class="text-gray">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>

  <div class="sub-footer pt-4 pb-4">
    <div class="container-lg flex justify-between items-center">
      <div>© 2020 IVA All rights reserved.</div>
      <div class="flex">
        <a href="#">Privacy Policy</a>
        <a class="pl-6" href="#">Terms</a>
      </div>
    </div>
  </div>
</footer>
