<footer class="text-white">
  <div class="main-footer pt-8">
    <div class="container-lg flex justify-between md:items-center pb-16">
      <nav>
        <ul class="flex flex-col md:flex-row md:items-center space-y-2 md:space-y-0 md:space-x-6">
          <li class="mb-2">
            <a aria-label="IVA" href="/">
              <img
                alt="IVA"
                class="w-12"
                src="/assets/images/iva_logo_white.svg"
              >
            </a>
          </li>
          <li>
            <a href="#">Product</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
          <li>
            <a href="#">Sign up</a>
          </li>
        </ul>
      </nav>

      <ul class="flex">
        <li class="pr-4">
          <a href="#">fb</a>
        </li>
        <li class="pr-4">
          <a href="#">in</a>
        </li>
        <li class="pr-4">
          <a href="#">tw</a>
        </li>
      </ul>
    </div>

    <div class="container-lg flex flex-col md:flex-row md:items-end md:justify-between pb-6">
      <form class="flex items-end pb-6 md:pb-0">
        <div class="flex flex-col">
          <label for="newsletter" class="pb-2">Newsletter</label>
          <input
            id="newsletter"
            class="input bg-gray-light py-2"
            name="newsletter"
            placeholder="Email"
            type="text"
          >
        </div>
        <button
          class="btn btn-dark py-2 ml-4"
          type="submit">Sign up
        </button>
      </form>

      <div>
        <p class="footer-text">
          IVA est une marque déposée de la société <a href="https://hilo3d.com/">HILO</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="sub-footer pt-4 pb-4">
    <div class="container-lg flex justify-between items-center">
      <div>&copy; 2020 IVA All rights reserved.</div>

      <div class="flex space-x-4">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms</a>
      </div>
    </div>
  </div>
</footer>
