<section class="section besoin">
  <div class="container-lg flex flex-wrap items-center">
    <div class="w-full md:w-1/2 pl-8 pr-8">
      <h2 class="section-title">Vous avez un besoin ?</h2>
      <p>On a une solution. Nous créons des expériences de produits incroyables. Elles permettent d'augementer vos ventes et de gagner du temps !</p>
    </div>

    <div class="w-full md:w-1/2 text-center pl-8 pr-8 image-container">
      <img src="/assets/images/bulle_chaise.png" alt="">
    </div>
  </div>
</section>
