<section class="hero flex flex-col items-center p-12">
  <h1 class="title hero-title text-center leading-tight mb-12">Studio de<br>modélisation 3D.</h1>

  <button class="btn btn-primary mb-8">
    S'inscrire
  </button>

  <p class="text-center">Prévisualiser son produit, c'est vendre. La modélisation 3D engage une prise de décision fiable et rapide.</p>

  <img class="hand-left" src="/assets/images/hand_l.png" alt="">
  <img class="hand-right" src="/assets/images/hand_r.png" alt="">
</section>
