<section class="section infographiste">
  <div class="container-lg flex flex-wrap items-center">
    <div class="w-full md:w-1/2 text-center">
      <video class="video" tabindex="0",autobuffer preload>
        <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' src="/assets/videos/ipad-1440.mp4">
      </video>
    </div>

    <div class="w-full md:w-1/2 pl-20">
      <h2 class="section-title">Au tour des infographistes</h2>
      <p>Des designers experts dans leur domaine prennent le relai et concrétisent votre vision.</p>
    </div>
  </div>
</section>
