<section class="section">
  <div class="container flex flex-wrap items-center">
    <div class="w-full md:w-1/2 text-center">
      <video class="video" tabindex="0",autobuffer preload>
        <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' src="/videos/iPad-1440.mp4">
      </video>
    </div>

    <div class="w-full md:w-1/2">
      <h2 class="section-title">Au tour des infographistes</h2>
      <p>But that his belong, tone french in space over from to view would about to in the it's who little behind off life to small and writer's anchors blind.</p>
    </div>
  </div>
</section>
