<section class="section">
  <div class="container flex flex-wrap items-center">
    <div class="w-full md:w-1/2">
      <h2 class="section-title">Mise en situation</h2>
      <p class="mb-4">But that his belong, tone french in space over from to view would about to in the it's who little behind off life to small and writer's anchors blind.</p>

      <button class="btn btn-light">
        C T A
      </button>
    </div>

    <div class="w-full md:w-1/2 text-center">
      <img src="/images/watch.png" alt="">
    </div>
  </div>
</section>
