<section class="section section-join-us py-12">
  <div class="container flex flex-wrap items-center">
    <div class="w-full md:w-1/2 text-center">
      [ILLUSTRATION]
    </div>

    <div class="w-full md:w-1/2">
      <h2 class="section-title">Rejoignez-nous</h2>
      <p class="mb-4">Inscrivez-vous en tant qu'initiateur de projet ou infographiste 3D. Nous nous occupons du reste&nbsp;!</p>

      <div>
        <input
          id="inputJoinUs"
          class="input w-full mb-3"
          placeholder="Entrez votre email"
          type="email"
        >
      </div>

      <button class="block btn btn-primary">
        S'inscrire
      </button>
    </div>
  </div>
</section>
