<section class="section demande">
  <div class="section-inner flex flex-wrap items-center">
    <div class="w-full md:w-1/2 text-center">
      <video class="video" tabindex="0",autobuffer preload>
        <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' src="/assets/videos/computer-1440.mp4">
      </video>
    </div>

    <div class="w-full md:w-1/2 md:pl-20">
      <h2 class="section-title">Saisissez votre<br>demande</h2>
      <p class="mb-8">Notre plateforme unique et personnalisée vous offre le champ des possibles pour décrire votre ambition.</p>

      <button class="btn btn-light">
        Product
      </button>
    </div>
  </div>
</section>
