.main-footer {
  background-color: #282829;
}

.sub-footer {
  @apply text-xs;
  background-color: #222223;
}

.footer-text {
  @apply text-gray;

  a {
    text-decoration: underline;

    &:hover {
      @apply text-white;
    }
  }
}
