.menu-toggle {
  .menu-toggle-inner {
    @apply w-16 h-16;
    @apply flex flex-col items-center justify-center;

    .line {
      width: 30px;
      height: 3px;
      background-color: black;

      + .line {
        margin-top: 5px;
      }
    }
  }
}
