.section {
  @apply py-24;

  @screen 2xl {
    @apply py-32;
    @apply text-3xl;
  }

  p {
    @apply max-w-md;

    @screen 2xl {
      @apply max-w-xl;
    }
  }
}

.section-inner {
  @apply container;

  @screen 2xl {
    @apply container-lg;
  }

  @screen 3xl {
    @apply container-xl;
  }
}

.section-title {
  @apply mb-4;
  @apply font-bold text-3xl;
  @apply uppercase;
  @apply leading-tight;

  @screen 2xl {
    @apply mb-6;
    @apply text-6xl;
  }
}

.join-us {
  background: linear-gradient(to bottom right, #e5e6ec, #f2f3f6);
}

.besoin {
  .image-container {
    img {
      max-height: 480px;
      object-fit: contain;
      margin: auto;

      @screen 2xl {
        max-height: 840px;
      }
    }
  }
}

.demande,
.infographiste {
  .video {
    height: 500px;
    object-fit: cover;
  }
}

.livrable {
  .video {
    height: 700px;
    object-fit: cover;
  }
}

.video {
  pointer-events: none;
}
