.section {
  @apply py-32;
  min-height: 600px;
}

.section-inner {
  @apply container;

  @screen 2xl {
    @apply container-lg;
  }
}

.section-title {
  @apply mb-6;
  @apply font-bold text-3xl;
  @apply uppercase;
  @apply leading-tight;
}

.section-join-us {
  background: linear-gradient(to bottom right, #e5e6ec, #f2f3f6);

  img {
    max-width: 240px;
    margin: auto;
  }
}

.besoin {
  .image-container {

    img {
      max-height: 580px;
      object-fit: contain;
      margin: auto;
    }
  }
}

.demande, .infographiste {
  .video {
    height: 500px;
    object-fit: cover;
  }
}

.livrable {
  .video {
    height: 700px;
    object-fit: cover;
  }
}

.video {
  pointer-events: none;
}
